.container
  .row.footer.text-center
    .col-md-12
      hr
      p
        a(href="https://twitter.com/iamstarkov") @iamstarkov
        = " c любовью разработал"
        br
        a(href="mailto:backendsecret@gmail.com?subject=Author’s%20proposal%20for%20@backendsecret") @backendsecret
        = " бережно курирует авторов"
      include menu
      br
