nav
  a(href="/stats/") Статистика
  = " • "
  a(href="/about/") О проекте
  = " • "
  a(href="/rss.xml") RSS
  = " • "
  a(href="https://github.com/iamstarkov/backendsecret") GitHub
  = " • "
  a(href="https://google.com/?q=site:backendsecret.ru+что-нибудь") Поиск
